body {
    width:100%;
    font-size:20px
  }
  
  h1 {
    font-size: 35px
  }
  input{
    display:block;
  }
  
  #title, #description{
    text-align:center;
  }
  
  #container {
    width:600px;
    height:800px;
    margin: 0 auto;
    background-color://#5B8E7D;
    border-radius: 10px
  } #5B8E7D
  
  
  
  